<div class="page-header">
  <h1>Give Me You Money!</h1>
</div>

<%= form_tag process_payment_path, method: :post, id: "payment-form" do %>

  <script>

  </script>
  <% end %>

  <% if false %>
  <%= form_tag process_payment_path, method: :post, id: "payment-form" do %>

    <span class="payment-errors"></span>

    <div class="">

    </div>
