<div class="outer">
<% @book.each do |book| %>
<div class="books">
  <%= link_to book_path(id: book.id) do %>
  <p><%= book.title %></p>
  <img src=" <%=book.photo_url%>" alt="" />
  <% end %>
</div>
<% end %>
